In [11]:
import requests
import pandas as pd

#URLs
BASE_URL = 'https://api.backendless.com/69DA66B9-D1A8-C396-FF6B-10897D65A600/DBA10B8A-452F-4D8D-AE29-C1A70D9B2CA5/data/'
url_ordenes = 'https://api.backendless.com/69DA66B9-D1A8-C396-FF6B-10897D65A600/DBA10B8A-452F-4D8D-AE29-C1A70D9B2CA5/data/Ordenes'
url_clientes = 'https://api.backendless.com/69DA66B9-D1A8-C396-FF6B-10897D65A600/DBA10B8A-452F-4D8D-AE29-C1A70D9B2CA5/data/Clientes'
url_productos = 'https://api.backendless.com/69DA66B9-D1A8-C396-FF6B-10897D65A600/DBA10B8A-452F-4D8D-AE29-C1A70D9B2CA5/data/Productos'

In [2]:
response = requests.get(url_productos)
df_products = pd.DataFrame(response.json())
df_products

,CategoriaProducto,NombreProducto,created,PrecioProducto,___class,IdProducto,ownerId,updated,objectId
0,Café,Café Fellowship,1699456818915,250.0,Productos,789,None,None,199F4608-EABC-4923-A040-9600026C195F
1,Chocolates,Schokolade Milcha,1699456886117,95.0,Productos,3018,None,None,87D74B1C-FC98-4BDA-81E8-77E4CCC691AF
2,Café,Café KALI,1699456856218,550.0,Productos,1052,None,None,98221068-D64C-4630-BAF1-7FBFE9ED834B
3,Pasta,Pasta Doria,1699456837885,45.0,Productos,3021,None,None,BBE2C8A8-8532-4042-B1CD-B4B3633BCD46
4,Botana,HEB Pot Chips,1699457349196,125.0,Productos,7896,None,None,DFBC8B45-19CC-4450-BF0C-05E5A8300CB3

In [22]:
response = requests.get(url_clientes)
df_clientes = pd.DataFrame(response.json())
df_clientes

,IdCliente,NombreCliente,created,direccion,___class,id,ownerId,nombre,updated,DireccionCliente,objectId
0,8804,Pedro Ortiz,1699456526033,None,Clientes,None,None,None,None,"Punto Valle, San Pedro Garza",503EF72D-1F9D-4F07-8E38-3E62138DF87F
1,1245,Juan Perez,1699672797664,None,Clientes,None,None,None,None,Calle 123,720CBA91-8437-46BF-B5FD-FABED8B6D1B2
2,7705,Adriana Vidal,1699456551567,None,Clientes,None,None,None,None,"La Fuente, San Nicolas de los Garza",83F90F73-A2D4-4C68-90AD-497B99190201
3,6608,Paco Duran,1699456572998,None,Clientes,None,None,None,None,"El Mirador, Guadalupe",882173C4-8CF9-4BCE-B333-C2145323D25C
4,9905,Emmanuel González,1699456502673,None,Clientes,None,None,None,None,"Balcones del Mirador, Monterrey",9BC1A92C-2E9A-432E-A2C3-8A0250D8B459
5,6348,"Cumbres, Monterrey",1699456590314,None,Clientes,None,None,None,None,Brenda Miranda,A1564C0B-14D2-4404-A9C0-DDC23B571E2E

In [23]:
response = requests.get(url_ordenes)
df_ordenes = pd.DataFrame(response.json())
df_ordenes

,IdCliente,created,query,FechaOrden,IdProducto,ownerId,Fecha,IdOrden,Cantidad,___class,updated,objectId
0,154646,1699676939167,None,2023-11-10 23:28:58,3018,None,1699658938000,1001.0,1,Ordenes,None,1DB53F9A-7B2B-4461-927C-359B3851B718
1,9905,1699465638600,None,None,7896,None,1699379226000,NaN,11,Ordenes,None,1FD1BF1C-C2F9-47C0-A0CC-452318AD2663
2,135474,1699678278225,None,2023-11-10 23:51:17,3018,None,1699660277000,1001.0,1,Ordenes,None,23C1DC01-0F02-4049-834F-F6CDF6EB3546
3,135474,1699678278536,None,2023-11-10 23:51:17,3021,None,1699660277000,1001.0,1,Ordenes,None,2B0A1A7F-03E6-4F1F-B7E6-FC4EE4D555B9
4,6608,1699457820643,None,None,7896,None,1699457807000,NaN,15,Ordenes,None,2B560D4F-B4B4-4E8B-AB27-0D5FF25424C6
5,154646,1699676939834,None,2023-11-10 23:28:59,3018,None,1699658939000,1001.0,1,Ordenes,None,2D92C1E4-1362-4F88-BB29-62C9A988D6BB
6,135474,1699678277581,None,2023-11-10 23:51:16,3018,None,1699660276000,1001.0,1,Ordenes,None,71D2D0FC-2898-45B4-8F1C-31B855A237DF
7,135474,1699678277904,None,2023-11-10 23:51:17,3021,None,1699660277000,1001.0,1,Ordenes,None,8775031F-8BB0-404B-9110-70EA8B78A13F
8,9905,1699465665567,None,None,3021,None,1697522400000,NaN,3,Ordenes,None,8EF2A756-D42C-425D-BA2F-F80678304E2A
9,154646,1699676939485,None,2023-11-10 23:28:58,1052,None,1699658938000,1001.0,1,Ordenes,None,95DA28E4-9875-4AC4-AB51-9CF6BBEF6E8D

In [18]:
response.content

b'Wrong json format: Cannot deserialize value of type `java.util.HashMap<java.lang.Object,java.lang.Object>` from Array value (token `JsonToken.START_ARRAY`)\n at [Source: UNKNOWN; byte offset: #UNKNOWN]'

In [8]:

# New client data
new_client = {
    'IdCliente': 1245,
    'NombreCliente': 'Juan Perez',
    '___class': 'Clientes',
    'DireccionCliente': 'Calle 123'
}

# Send POST request to insert new client
response = requests.post(url_clientes, json=new_client)

# Check if request was successful
if response.status_code == 200:
    print('New client inserted successfully.')
else:
    print('Error inserting new client.')

New client inserted successfully.

In [7]:
response.content

b'{"code":1007,"message":"Unable to save object - invalid data type for properties - IdCliente. You can change the property type in developer console if column type allows change.","errorData":{}}'